/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* GENERAL CLASS */

.flex{
    display: flex;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


ul{
    list-style-type: none;
}


/* ********************************************** */

/* MOBILE FIRST 480px */


header{
    background-color: #0084fd;
}

.nav-head{
    height: 8vh;
    width: 100%;
}

.link{
    display: none;
}



/* TABLET 768px  */




/* DESKTOP DA 769 IN SU */

