/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px
}

/* REUSABLE CLASS */

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.m-0-auto {
    margin: 0 auto;
}

.m-30 {
    margin: 30px 0;
}

.m-25 {
    margin: 25px 0;
}

.pad-25-20 {
    padding: 25px 0 0 20px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.size4{
    font-size: 4rem;
}


.lilla{
    color:  #9792e4;;
}

.white{
    color: white;
}

/* ********************************************** */

/* MOBILE FIRST 480px */

/* HEADER */

#logo {
    margin-left: 50px;
}

header {
    background-color: #0084fd;
    width: 100%;
}

.nav-head {
    height: 8vh;
}

.tent {
    margin-right: 50px;
    color: white;
    font-size: 2rem;
}

.link {
    display: none;
    color: white;
}

/* **************************** */

/* MAIN */

/* DEMO-APPLICATION */

.row,
.tris {
    margin: 10px 50px;
}

.box-70 {
    background-color: #b5ddff;
    width: 100%;
    border-radius: 20px;
    margin: 25px 0;
}

.box-30 {
    text-align: center;
    width: 100%;
    background-color: #b5ddff;
    border: 1px solid #b5ddff;
    border-radius: 20px;
}

.demo-h2 {
    margin: 20px 0;
    color: #0084fd;
}

.demo-p {
    margin: 30px 0;
    padding-left: 20px;
}

.demo-button {
    margin: 0 0 15px 20px;
    background-color: #0084fd;
    border-radius: 15px;
    padding: 8px 40px;
}

.demo-img {
    width: 100%;
}

.demo-icon {
    margin-top: 20px;
    font-size: 80px;
    color: #0084fd;
    text-align: center;
}

.demo-text {
    width: 100%;
}

/* ************************ */

/* STRATEGIC PLANNING */

.strategic-planning {
    background-color: #9792e4;
    padding-bottom: 10px;
}


.strategic-container {
    margin: 0 50px
}

.planning {
    width: 100%;
    text-align: center;
}

.planning-img {
    width: 80%;
    margin: 20px auto;

}

.developement {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin: 30px 0;
}

.app-img {
    width: 100%;
}

.app-button {
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 1.5rem;
    background-color:#9792e4;
}

/* ************************ */

/* TESTIMONIALS */

.testimonials-head{
    text-align: center;
    margin: 25px 0;
}

.testimonials-container{
    width: 100%;
    padding-bottom: 50px;
}

.testimonial{
    margin: 0 auto;
    width: 60%;
    height: 100%;
    border-radius: 20px;
    background-color:#9792e4;
    color: white;
}

.testimonial-img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    padding-top: 20px;
}

.user-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.testimonial-body{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    text-align: center;
}

/* ************************ */

/* BENEFITS */

.benefits{
    background-color:#9792e4;
    padding-top: 20px;
}

.benefits-container{
    width: 100%;
    padding-bottom: 10px;
}

.card{
    background-color: white;
    width: 60%;
    height: 70%;
    margin: 20px auto;
    padding: 20px 0 20px 20px;
    border-radius: 20px;
}

.card-button{
    color: white;
    background-color: #9792e4;
    border-style: none;
    padding: 5px 30px;
    border-radius: 20px;
    font-size: 1rem;
}

.card p{
    margin: 20px 0
}

/* ***************** */

/* ABOUT-US */

.about-us{
    margin: 0 auto
}

.about-container{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.about-h1{
    margin: 20px 0;
    font-size: 3rem;
}

.about-text{
    margin: 20px 0;
    width: 80%;
    font-size: 1.3rem;
    line-height: 2rem;
}

.about-imagetext{
    color: #9792e4;
    width: 80%;
}

.about-img{
    width: 100%;
}

.help-img{
    width: 80%;
    border-radius: 100%;
    margin: 10px 0;
}

.about-button{
    background-color: #9792e4;
    border-style: none;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 0;
}
/* ******************** */

/* GET STARTED */

.get-started{
    background-color: #9792e4;
}

.get-started-container{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    color: white;
    padding: 50px 0;
}

.get-started-container h2{
    font-size: 1.7rem;
    margin: 20px 0;
}


.get-started-container h1{
    font-size: 4rem;
    margin: 20px 0;
    color: #fdc15f;
}



/* TABLET da 480px a 768px  */

/* DEMO */

@media screen and (min-width: 480px) {
    

    .box-70 { 
        width: calc((100% / 3) * 2);
    }
    
    .box-30 {
        width: calc(100% / 3);
        margin: 25px 0;
    }

    .box-30 p {
        padding: 0 25px;
    }

    .demo-img {
        width: 70%;
    }

    .row {
        display: flex;
        gap: 20px;
    }

    .tris {
        display: flex;
        gap: 20px;
    }
    
    .demo-icon {
        padding-top: 25px;
    }
    
}
/* ************************************ */

/* TESTIMONIAL */

@media screen and (min-width: 480px) {
    .testimonial{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .testimonial-img{
        margin: 20px 0;
    }
}

/* ************************************ */

/* BENEFITS */

@media screen and (min-width: 480px) {
    
    .benefits-container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .card{
        width: calc(90% / 2);
        margin: 10px auto;
    }
}

/* *********************************** */

/* ABOUT */

@media screen and (min-width: 480px) {

    .about-container{
        display: flex;
    }

    .about-text{
        margin: 50px 0;
    }

    .about-imagetext{
        width: 50%;
        margin: 50px 20px;
    }

    
}

/* DESKTOP DA 768 IN SU */

/* MEDIA */

@media screen and (min-width: 768px) {

    .nav-head {
        margin: 0 auto;
        width: 80%;
    }

    .tent {
        display: none;
    }

    .link {
        display: flex;
        gap: 2rem;
    }

    #logo {
        margin: 0;
    }
}

/* DEMO */

@media screen and (min-width: 768px) {

    .demo-img {
        width: 25%;
        position: absolute;
        bottom: 0;
        right: 150px;
    }


    .box-70 {
        display: flex;
        position: relative;
    }

    .demo-text {
        width: 50%;
    }
}

/* ********************************** */

/* STRATEGIC */

@media screen and (min-width: 768px) {

    .strategic-container {
        display: flex;
    }

    .planning {
        width: 30%;
        margin: 20px 20px 0 auto;
    }

    .developement {
        width: 20%;
        margin: 150px auto 0 20px;
    }

    .planning-img{
        width: 80%;
    }

    .app-img{
        width: 50%;
    }
}

/* ************************************* */

@media screen and (min-width: 768px) {
    .card{
        width: calc(90% / 3);
        margin: 10px auto;
    }
}




/* ************************************** */