/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px
}

/* REUSABLE CLASS */

.flex{
    display: flex;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
}

.m-0-auto{
    margin: 0 auto;
}

.m-30{
    margin: 30px 0;
}

.m-25{
    margin: 25px 0;
}

.pad-25-20{
    padding: 25px 0 0 20px;
}
.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}


/* ********************************************** */

/* MOBILE FIRST 480px */

/* HEADER */

#logo{
    margin-left: 50px;
}

header{
    background-color: #0084fd;
    width: 100%;
}

.nav-head{
    height: 8vh;
}

.tent{
    margin-right: 50px;
    color: white;
    font-size: 2rem;
}

.link{
    display: none;
    color: white;
}

/* **************************** */

/* MAIN */

/* DEMO-APPLICATION */

.row{
    margin: 10px 50px;
}

.box-70{
    background-color: #b5ddff;
    width: 100%;
    border-radius: 20px;
    margin: 25px 0;
}

.box-30{
    text-align: center;
    width: 100%;
    background-color: #b5ddff;
    border: 1px solid #b5ddff;
    border-radius: 20px;
}

.demo-h2{
    margin: 20px 0;
    color: #0084fd;
}

.demo-p{
    margin: 30px 0;
    padding-left: 20px;
}

.demo-button{
    margin: 0 0 15px 20px;
    background-color: #0084fd;
    border-radius: 15px;
    padding: 8px 40px;
}

.demo-img{
    width: 100%;
}

.demo-icon{
    margin-top: 20px;
    font-size: 80px;
    color: #0084fd;
    text-align: center;
}






/* ************************ */


/* TABLET 768px  */

/* DEMO */

/* ************************************ */


/* DESKTOP DA 768 IN SU */

/* MEDIA */

@media screen and (min-width: 768px) {

    .nav-head{
        margin: 0 auto;
        width: 80%;
    }

    .tent{
        display: none;
    }

    .link{
        display: flex;
        gap: 2rem;
    }

    #logo{
        margin: 0;
    }
}   

/* ********************************** */

/* STRATEGIC */



/* ************************************* */

/* TESTIMONIALS */




/* ************************************** */